# Building and releasing library:
*.egg-info
*.pyc
*.so
build/
dist/
venv/
CLRS30/
output/
absl-log/
env/

# Mac OS
.DS_Store

# Python tools
.mypy_cache/
.pytype/
.ipynb_checkpoints

# Editors
.idea
.vscode

